build
bin
src/file
lib
libs
b
.vscode
.history
.cache
build-windows
win
assimp/build
assimp/build-windows
assimp/win
imgui/build
imgui/build-windows
glfw
*.log
*.txt
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.deb
*.rpm
*.dmg
*.pkg
*.pkg.tar
*.pkg.tar.gz
*.pkg.tar.bz2
build-linux
build-macos
assimp
glfw
imgui
irrklang
include_libs/imgui
include_libs/windows/irrklang-proxy
imgui.ini